body {
margin:0;
font-family:Segoe UI;
background:linear-gradient(135deg,#020617,#0b1220);
color:white;
}

.navbar {
display:flex;
justify-content:space-between;
padding:20px;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
}

.nav-links a {
margin:10px;
color:#cbd5f5;
text-decoration:none;
}

.hero {
display:flex;
justify-content:space-between;
padding:80px;
}

.hero span {
background:linear-gradient(to right,#38bdf8,#22c55e);
-webkit-background-clip:text;
color:transparent;
}

.btn {
padding:12px 25px;
background:linear-gradient(45deg,#3b82f6,#06b6d4);
border:none;
border-radius:10px;
color:white;
cursor:pointer;
}

.hero-card {
width:400px;
height:250px;
background:linear-gradient(135deg,#38bdf8,#06b6d4);
border-radius:20px;
animation:float 3s infinite;
}

@keyframes float {
50% { transform: translateY(-15px); }
}

.card {
background:rgba(255,255,255,0.05);
margin:20px;
padding:20px;
border-radius:15px;
}

.certificate {
width:600px;
margin:40px auto;
padding:40px;
background:#1e293b;
border-radius:20px;
text-align:center;
}
